<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
    <title>Pong Tracker | Banned</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/bootstrap-css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/global-styles.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/profile-styles.css' rel='stylesheet' type='text/css'>
</head>
<body>
	Congratulations {{ username }} you have been banned or have an inactive account. Please contact your site administrator
</body>
</html>