{% extends "base.html" %}
{% load staticfiles %}
{% block pagetitle %} | Edit Profile{% endblock %}

{% block head %}
<link href='{% static 'css/profile-styles.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/editprofile-styles.css' %}' rel='stylesheet' type='text/css'>

<script type="text/javascript"> 
function toggleCheck(selectObject,check) { 
var ind=selectObject.selectedIndex; 
document.getElementById(check).style.display=(ind==0)?'none':'block'; // or inline 
} 
</script>

{% endblock %}

{% block pagecontent %}
<div id="page-content">
    <h1>{{ title }}</h1>
    <h4>Fields marked with a * are required</h4>
    
    
    <form method='post' action='{{ SITE_URL }}profile/edit' enctype='multipart/form-data'>
        {% csrf_token %}
		
		{{ updated }}
        <table id='edit-profile-form'>
            <!-- display the form fields -->
            
            {% for field in form %}
            <tr>
                <td>
                    <span>{{ field.label }}</span>
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                    {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div id = "terms">
        	<a href="/terms_and_conditions" onclick="window.open(this.href, 'mywin',
'left=200,top=200,width=400,height=400,toolbar=1,resizable=0'); return false;" >Read Terms and Conditions</a>
        </div>
                <div class="field">
            <button name="editProfile" class="btn" type="submit">
                Submit
            </button>
        </div> 
    </form>
</div>
{% endblock %}
