{% extends "base.html" %}
{% load staticfiles %}
{% block pagetitle %} | Edit Profile{% endblock %}

{% block head %}
<link href='{% static 'css/profile-styles.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/editprofile-styles.css' %}' rel='stylesheet' type='text/css'>

<style>
    #edit-profile-form {
    	min-width: 100%;
    }
	#edit-profile-form tr {
		border-top: 1px dotted #777777;
	}
	#edit-profile-form td:first-child {
		width: 300px;
	}
	#edit-profile-form input, #edit-profile-form select {
		margin: 10px 0px;
	}
	#edit-profile-form span {
		font-weight: bold;
	}

</style>
{% endblock %}

{% block pagecontent %}
<div id="page-content">
    <h1>{{ title }}</h1>
    <form method='post' action='.'>
        {% csrf_token %}

        <table id='edit-profile-form'>
            <!-- display the form fields -->
            {% for field in form %}
            <tr>
                <td>
                    <span>{{ field.label }}</span>
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                	{{ field.errors }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="field">
            <button name="logout" class="btn" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
{% endblock %}
