<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Pong Tracker | Home</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/bootstrap-css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/global-styles.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/home-styles.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container">
        <!------ LOGIN HEADER --------->
			<div id="login-header">
				<p>
					Welcome, <span id="player-name">Pong Player</span><span id="logout"><a href="login.html">Log Out</a></span>
				</p>
			</div>
			<!------ HEADER --------->
			<div id="header">
				<table>
					<tr>
						<td> Restore Pong Tracker Account Password </td>
					</tr>
				</table>
			</div>
		</div>
		<!------ CONTENT --------->
        <div id="page-content">
			<table>
				<tr>
					<td><label>Restore Password: </label>
					<input name="email" type="text" placeholder="email address" /></td>
				</tr>
				<br><br>
				<tr>
					<td> After submitting your email, instructions will be sent to the address you specified with instructions on how to reset your password </td>
				</tr>
			</table>
		</div>
	</body>

</html>