<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
    <title>Pong Tracker | Forgot Password</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/bootstrap-css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/global-styles.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/home-styles.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container">
        <!------ GENERAL HEADER --------->
			<div id="login-header">
				<p>
					Welcome, <span id="player-name">{{username}}</span><span id="logout"><a href="login.html">Log Out</a></span>
				</p>
			</div>
			<!------ HEADER --------->
			<div id="header">
				<table>
					<tr>
						<td> Restore Pong Tracker Account Password </td>
					</tr>
				</table>
			</div>
		</div>
		<!------ CONTENT --------->
        <div id="page-content">
			<p style = "padding-bottom:20px"> After submitting your email below, instructions will be sent to the address you specified on how to reset your password.</p>
			<form method="post" action=".">
				<table>
					<tr>
						<td style = "padding-right:30px"><label>Enter Email: </label>
						<input name="email" type="text" placeholder="email address" /></td>
						<td style = "padding-top:15px">
						<button name="submit" class="btn" type="submit">
						Submit
						</button></td>
					</tr>
				</table>
			</form>
		</div>
		<!------- FOOTER --------->
        <div id="footer">
            <table>
                <tr>
                    <td class="left">
                        CP317 Software Engineering
                    </td>
                    <td class="right">
                        Wilfrid Laurier University, 2013
                    </td>
                </tr>
            </table>
        </div>
	</body>
</html>