{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}| Forgot Password{% endblock %}

{% block head %}
<link href='{% static 'css/home-styles.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block pagecontent %}
<div id="page-content">
    <h2>Restore Pong Tracker Account Password</h2>

    <p>
        After submitting your email below, instructions will be sent to the address you specified on how to reset your password.
    </p>
    
    <form method="post" class="form-inline" action="/forgotpassword">
		{% csrf_token %}
		<table>
		 {% for field in form %}
            <tr>
                <td>
                    <span>{{ field.label }}</span>
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                    {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            
          </table>
        <button name="submit" class="btn" type="submit">
            Reset Password
        </button>
    </form>
</div>
{% endblock %}
