{% extends "base.html" %} 
{% load staticfiles %} 

{% block pagetitle %} | Log In{% endblock %} 
{% block head %}
<link href='{% static "css/login-styles.css" %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block pagecontent %}
<!------ CONTENT --------->
<div id="page-content">
	<table>
		<tr>
			<!-- RANDOM BANNER CONTENT -->
			<td>
				<div id="register-banner">
					<h3>Put your game face on</h3>
					<p> Enjoy getting your balls wet?
						Believe that Beer Pong should be a sport in the Olympics?
						Think you have what it takes to be the best Beer Pong player?
						If you answered yes to any of the above questions, join Pong Tracker and track your Beer Pong games.  
						View your stats along with others on site.  Get ready to make friends, handle lots of balls, and have a good time!
						</p>
				</div>
			</td>

			<!-- LEADERBOARD -->
			<td>
				<div id="limited-leaderboard">
					<h3 style="text-align:left">Leaderboard</h3>
					<table>
						<thead>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Games Won</th>
							</tr>
						</thead>
						<tbody>
							
							{% for row in leaderForm.leaders %}
							<tr>
							
								<td>
									{{ row.0 }}
								</td>
								<td>
									{{ row.1 }}
								</td>
								<td>
									{{ row.3 }}
								</td>
							
							</tr>	
							{% endfor %}

						</tbody>
					</table>
				</div>
			</td>

			<!-- THE REGISTER FORM -->
			<td>
			
						
				<div id="register-form">
					<h3>{{ regTitle }}</h3>
					<form action='{{ SITE_URL }}register' name="register" method="post">
						{% csrf_token %} 
				            <br>
				            {% for field in registrationForm %}
				                    
			                    {% if field.errors %}
			                    <div class="error">
			                        {{ field.errors }}
			                    </div>			                    
			                    {% endif %}
			                   	
			                   	{{ field }}
				               
				            {% endfor %}
				            
				            {% if suggestedUsernames %}
				            	Suggested usernames:<br>
				            	{% for suggestion in suggestedUsernames %}
				            		{{ suggestion }}<br>
				            	{% endfor %}
				            	
				            {% endif %}
				            
						
						<button name="submit" class="btn" type="submit">Submit</button>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
{% endblock %}