{% extends "base.html" %} 
{% load staticfiles %} 

{% block pagetitle %} | Log In{% endblock %} 
{% block head %}
<link href='{% static "css/login-styles.css" %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block pagecontent %}
<!------ CONTENT --------->
<div id="page-content">
	<table>
		<tr>
			<!-- RANDOM BANNER CONTENT -->
			<td>
				<div id="register-banner">
					<h3>Put your game face on</h3>
					<p> Enjoy getting your balls wet?
						Believe that Beer Pong should be a sport in the Olympics?
						Think you have what it takes to be the best Beer Pong player?
						If you answered yes to any of the above questions, join Pong Tracker and track your Beer Pong games.  
						View your stats along with others on site.  Get ready to make friends, handle lots of balls, and have a good time!
						</p>
				</div>
			</td>

			<!-- LEADERBOARD -->
			<td>
				<div id="limited-leaderboard">
					<h3 style="text-align:left">Leaderboard</h3>
					<table>
						<thead>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Games Won</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Player 1</td>
								<td>45</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Player 2</td>
								<td>43</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Player 3</td>
								<td>37</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Player 4</td>
								<td>30</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Player 5</td>
								<td>25</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Player 6</td>
								<td>24</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Player 7</td>
								<td>14</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Player 8</td>
								<td>4</td>
							</tr>
							<tr>
								<td>9</td>
								<td>Player 9</td>
								<td>3</td>
							</tr>
							<tr>
								<td>10</td>
								<td>Player 10</td>
								<td>1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>

			<!-- THE REGISTER FORM -->
			<td>
				<div id="register-form">
					<h3>Register</h3>
					<form action="/register" name="register" method="post">
						{% csrf_token %} 
						{{ emailState }} 
						<input name="email" type="text" placeholder="email" value="{{ email }}"> <br />
						{{ usernameState }} 
						{% for suggestion in suggestedUsernames %} 
							{{suggestion }} <br /> 
						{% endfor %} 
						<input name="username" type="text" placeholder="desired username" value="{{ username }}">
						<br />
						<button name="submit" class="btn" type="submit">Submit</button>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
{% endblock %}