{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %} | Profile{% endblock %}

{% block head %}
<link href='{% static 'css/profile-styles.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block pagecontent %}
<div id="page-content">
    <table id="profile">
        <tr id="personal-info">
            <td>
                <h2 class="player-name">{{ request.session.username }}</h2>
            </td>
            <td colspan="2">
                <table id="personal-stats">
                    <tr>
                        <td>
                            Height
                        </td>
                        <td>
                            180cm
                        </td>
                        <td>
                            Institution
                        </td>
                        <td>
                            Wilfrid Laurier University
                        </td>
                        <td>
                            Year of Graduation
                        </td>
                        <td>
                            2015
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="statistics">
            <td>
                <div id="picture"></div>
            </td>

            <td id="player-info">
                <h4>Player Statistics</h4>
                <table id="player-stats">
                    <tr>
                        <td>
                            Pong Tracker Rank
                        </td>
                        <td>
                            4 <span class="rank-qualifier">top 5%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Games Won
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Games Lost
                        </td>
                        <td>
                            6
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bounce Shots
                        </td>
                        <td>
                            203
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trick Shots
                        </td>
                        <td>
                            25
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Party Fouls
                        </td>
                        <td>
                            3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Redemptions
                        </td>
                        <td>
                            103
                        </td>
                    </tr>
                </table>
            </td>

            <td id="cups-sunk-stats">
                <h4>Cups Sunk</h4>
                <div id="cups">
                    <span class="cup" id="cup1">142</span>
                    <br/>
                    <span class="cup" id="cup2">241</span>
                    <span class="cup" id="cup3">88</span>
                    <br/>
                    <span class="cup" id="cup4">421</span>
                    <span class="cup" id="cup5">532</span>
                    <span class="cup" id="cup6">24</span>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
