<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pong Tracker | Log In</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/bootstrap-css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/global-styles.css' rel='stylesheet' type='text/css'>
    <link href='../../../../assets/css/profile-styles.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <!------ LOGIN HEADER --------->
        <div id="login-header">
            <p>
                Welcome, <span id="player-name">{{ username }} </span><span id="logout"><a href="/index/logout">Log Out</a></span>
            </p>
        </div>

        <!------ HEADER --------->
        <div id="header">
            <table>
                <tr>
                    <td id="logo"> Pong Tracker </td>
                    <td id="nav">
                        <ul>
                            <li><a href="#" class="active">Profile/Stats</a></li>
                            <li><a href="#">Leaderboard</a></li>
                            <li><a href="#">Create a Game</a></li>
                            <li><a href="#">Rules</a></li>
                        </ul></td>

                </tr>
            </table>
        </div>
        <!------ CONTENT --------->
        <div id="page-content">
            <table id="profile">
                <tr id="personal-info">
                    <td><h2 class="player-name">{{ username }}</h2></td>
                    <td colspan="2">
                        <table id="personal-stats">
                            <tr>
                                <td>Height</td>
                                <td>180cm</td>
                                <td>Institution</td>
                                <td>Wilfrid Laurier University</td>
                                <td>Year of Graduation</td>
                                <td>2015</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="statistics">
                    <td><div id="picture"></div></td>

                    <td id="player-info"><h4>Player Statistics</h4>
                        <table id="player-stats">
                            <tr>
                                <td> Pong Tracker Rank </td>
                                <td> 4 <span class="rank-qualifier">top 5%</span></td>
                            </tr>
                            <tr>
                                <td> Games Won </td>
                                <td> 50 </td>
                            </tr>
                            <tr>
                                <td> Games Lost </td>
                                <td> 6 </td>
                            </tr>
                            <tr>
                                <td> Bounce Shots </td>
                                <td> 203 </td>
                            </tr>
                            <tr>
                                <td> Trick Shots </td>
                                <td> 25 </td>
                            </tr>
                            <tr>
                                <td>Party Fouls</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Redemptions</td>
                                <td>103</td>
                            </tr>
                        </table></td>

                    <td id="cups-sunk-stats"><h4>Cups Sunk</h4>
                        <div id="cups">
                            <span class="cup" id="cup1">142</span>
                            <br/>
                            <span class="cup" id="cup2">241</span>
                            <span class="cup" id="cup3">88</span>
                            <br/>
                            <span class="cup" id="cup4">421</span>
                            <span class="cup" id="cup5">532</span>
                            <span class="cup" id="cup6">24</span>
                        </div></td>
                </tr>
            </table>
        </div>
        <!------- FOOTER --------->
        <div id="footer">
            <table>
                <tr>
                    <td class="left"> CP317 Software Engineering </td>
                    <td class="right"> Wilfrid Laurier University, 2013 </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
