{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %} | Profile{% endblock %}

{% block head %}
<link href='{% static 'css/profile-styles.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block pagecontent %}
<div id="page-content">
    <table id="profile">
        <tr id="personal-info">
            <td>
                <table>
                    <tr>
                        <td>
                            <h2 class="player-name"> {% if username %}
                            {{ username }}
                            {% else %}
                            {{ request.session.username }}
                            {% endif %} </h2>
                        </td>
                        <td>
                            {% if request.session.username %}
                            <a href="edit">Edit profile</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
            <td colspan="2">
                <table id="personal-stats">
                    <tr>
                        <td>
                            Height
                        </td>
                        <td>
                            {{ user.getHeight }}
                        </td>
                        <td>
                            Institution
                        </td>
                        <td>
                            {{ user.getInstitution }}
                        </td>
                        <td>
                            Year of Graduation
                        </td>
                        <td>
                            {{ user.getGraduationYear }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="statistics">
            <td>
                <div id="picture"></div>
            </td>

            <td id="player-info">
                <h4>Player Statistics</h4>
                <table id="player-stats">
                    <tr>
                        <td>
                            Pong Tracker Rank
                        </td>
                        <td>
                            4 <span class="rank-qualifier">top 5%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Games Won
                        </td>
                        <td>
                            {{ user.lifestats.getWins }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Games Lost
                        </td>
                        <td>
                            {{ user.lifestats.getLoses }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bounce Shots
                        </td>
                        <td>
                            {{ user.lifestats.getBounceShots }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trick Shots
                        </td>
                        <td>
                            {{ user.lifestats.getTrickShots }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Party Fouls
                        </td>
                        <td>
                        	
                            {{ user.lifestats.getPartyFouls }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Redemptions
                        </td>
                        <td>
                            {{ user.lifestats.getRedemptions }}
                        </td>
                    </tr>
                </table>
            </td>

            <td id="cups-sunk-stats">
                <h4>Cups Sunk</h4>
                <div id="cups">
                    <span class="cup" id="cup1">{{ user.lifestats.getCup1Sunk }}</span>
                    <br/>
                    <span class="cup" id="cup2">{{ user.lifestats.getCup2Sunk }}</span>
                    <span class="cup" id="cup3">{{ user.lifestats.getCup3Sunk }}</span>
                    <br/>
                    <span class="cup" id="cup4">{{ user.lifestats.getCup4Sunk }}</span>
                    <span class="cup" id="cup5">{{ user.lifestats.getCup5Sunk }}</span>
                    <span class="cup" id="cup6">{{ user.lifestats.getCup6Sunk }}</span>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
