{% extends "base.html" %} 
{% load staticfiles %} 

{% block pagetitle %} | Confirm Game{% endblock %} 

{% block head %}

<link href="{% static 'home-styles.css' %}" rel='stylesheet'
	type='text/css'>

{% endblock %} 

{% block pagecontent %}
<div id="page-content">
	<table>
		<tr>
			<th width="2%">Date</th>
			<th width="6%">Team 1</th>
			<th width="6%">Team 2</th>
			<th width="1%">Outcome</th>
			<th width="1%">
				<div align="left">
					Confirmation
					<div align="center">
			</th>
		</tr>
		<tr>
			<td>
				<div align="center">July 10, 2013</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{username1}}</th>
								<th>{{username2}}</th>
							</tr>
							<td>1234</td>
							<td>1234</td>
						</center>
					</table>
				</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{username3}}</th>
								<th>{{username4}}</th>
							</tr>
							<td>1234</td>
							<td>1234</td>
						</center>
					</table>
				</div>
			</td>
			<td><div align="center">Win</div></td>
			<td>
				<form action="">
					<input type="radio" name="confirm_btn" value="Confim">
					Confirm<br> <input type="radio" name="confirm_btn"
						value="Deny"> Deny
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<div align="center">July 12, 2013</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{username1}}</th>
								<th>{{username2}}</th>
							</tr>
							<td>1234</td>
							<td>1234</td>
						</center>
					</table>
				</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{username3}}</th>
								<th>{{username4}}</th>
							</tr>
							<td>1234</td>
							<td>1234</td>
						</center>
					</table>
				</div>
			</td>
			<td><div align="center">Win</div></td>
			<td>
				<form action="">
					<input type="radio" name="confirm_btn" value="Confim">
					Confirm<br> <input type="radio" name="confirm_btn"
						value="Deny"> Deny
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<div align="center">July 14, 2013</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{username1}}</th>
								<th>{{username2}}</th>
							</tr>
							<td>1234</td>
							<td>1234</td>
						</center>
					</table>
				</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{username3}}</th>
								<th>{{username4}}</th>
							</tr>
							<td>1234</td>
							<td>1234</td>
						</center>
					</table>
				</div>
			</td>
			<td><div align="center">Win</div></td>
			<td>
				<form action="">
					<input type="radio" name="confirm_btn" value="Confim">
					Confirm<br> <input type="radio" name="confirm_btn"
						value="Deny"> Deny
				</form>
			</td>
		</tr>
	</table>
	<br /> <br />
	<button name="verify" class="btn" type="submit">Verify Games</button>
</div>
{% endblock %}