{% extends "base.html" %} 
{% load staticfiles %} 

{% block pagetitle %} | Confirm Game{% endblock %} 

{% block head %}

<link href="{% static 'home-styles.css' %}" rel='stylesheet'
	type='text/css'>

{% endblock %} 

{% block pagecontent %}

<h4>Games You Verify</h4>

{% if confirm_games %}
<table>
		<tr>
			<th width="2%">Date</th>
			<th width="6%">Team 1</th>
			<th width="6%">Team 2</th>
			<th width="1%">Outcome</th>
			<th width="1%">
				<div align="left">
					Confirmation
				<div align="center">
			</th>
		</tr>
	
{% for c_game in confirm_games %}
		<tr>
			<td>
				<div align="center">{{c_game.date_played}}</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{c_game.player1}}</th>
								<th>{{c_game.player2}}</th>
							</tr>
							<td>1</td>
							<td>2</td>
						</center>
					</table>
				</div>
			</td>
			<td>
				<div align="center">
					<table border="1">
						<center>
							<tr>
								<th>{{ c_game.player3 }}</th>
								<th>{{ c_game.player4 }}</th>
							</tr>
							<td>3</td>
							<td>4</td>
						</center>
					</table>
				</div>
			</td>
			<td><div align="center">{{ c_game.outcome }}</div></td>
			<td>
				<form method = "POST" action = "/game/{{ c_game.game_id }}/confirm/">
						
							{% csrf_token %}
							<button class="btn" type="submit">
								Confirm
							</button>
				</form>
				<form method = "POST" action = "/game/{{ c_game.game_id }}/deny/">
							{% csrf_token %}
							<button class="btn" type="submit">
								Deny
							</button>
				</form>
			</td>
		</tr>
{% endfor %}
</table>

{% else %}
You have no games to verify.
{% endif %}


<h4>Games To Be Verified By The Opposing Team</h4>
{% if opponent_confirm_games %}
<table>
	<tr>
		<th width="2%">Date</th>
		<th width="6%">Team 1</th>
		<th width="6%">Team 2</th>
		<th width="1%">Outcome</th>
	</tr>
	{% for o_game in opponent_confirm_games %}
	<tr>
		<td>
			<div align="center">{{o_game.date_played}}</div>
		</td>
		<td>
			<div align="center">
				<table border="1">
					<center>
						<tr>
							<th>{{o_game.player1}}</th>
							<th>{{o_game.player2}}</th>
						</tr>
						<td>1</td>
						<td>2</td>
					</center>
				</table>
			</div>
		</td>
		<td>
			<div align="center">
				<table border="1">
					<center>
						<tr>
							<th>{{o_game.player3}}</th>
							<th>{{o_game.player4}}</th>
						</tr>
						<td>3</td>
						<td>4</td>
					</center>
				</table>
			</div>
		</td>
		<td><div align="center">{{ o_game.outcome }}</div></td>
	</tr>
{% endfor %}
</table>
{% else %}
Your opponents have no games that need verifying.
{% endif %}

{% endblock %}