{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<script type="text/javascript">
	function toggle_more2() {
		if (document.getElementById('register2').checked == false) {
			document.getElementById('moreinfo2').style.display = "none";
		} else {
			document.getElementById('moreinfo2').style.display = "inline-block";
		}
	}

	function toggle_more3() {
		if (document.getElementById('register3').checked == false) {
			document.getElementById('moreinfo3').style.display = "none";
		} else {
			document.getElementById('moreinfo3').style.display = "inline-block";
		}
	}

	function toggle_more4() {
		if (document.getElementById('register4').checked == false) {
			document.getElementById('moreinfo4').style.display = "none";
		} else {
			document.getElementById('moreinfo4').style.display = "inline-block";
		}
	}
</script>

{% endblock %}

{% block pagetitle %} | Create Game{% endblock %}

{% block pagecontent %}

<div id="page-content">
	<h1>Create Game</h1>
    <p style = "padding-bottom:20px">
        Please enter a valid username in each field or register any users that are not already on Pong Tracker.
    </p>
    <form method="POST" action="/game/create/">
    
        {% csrf_token %}
        
        <table width="80%" align="center">
            <tr>
                <td width="40%">
                    <h3>Team 1</h3>
                </td>
                <td width="10%">
                    &nbsp;
                </td>
                <td width="40%">
                    <h3>Team 2</h3>
                </td>
            </tr>
            
            <tr>
                <td width="40%" valign="top">
                    <label for="username1"> <strong>Player 1: </Strong></label>
                    <span style="font-size:16px;"><strong>{{ request.session.username }}</strong></span>
                    <br/>will be tracking the game.
                </td>
                <td width = "10%">
                    &nbsp;
                </td>
                <td width="40%"  valign="top">
                    <label for="username3"> <strong>Player 3: </strong><br/>
                    {{ form.username3 }}</label> 
                    
                    {% if form.err3 != '' %}
			        <table width="72%">
			        	<tr>
			        		<td align="center" bgcolor="#FF3333">
			        			<span style="color:white; font-size:12px; font-weight:bold;">{{ form.err3 }}</span>
			        		</td>
			        	</tr>
			        </table>
			        {% endif %}
                    
                    <input id="register3" name="chkRegister3" onclick="toggle_more3();" type="checkbox"></input>
                    Register to play
                    <div id="moreinfo3" style="display: none;">
                  		{{ form.email3 }}
                  	</div>
                </td>
            </tr>

            <tr>
                <td width="40%">
                    &nbsp;
                </td>
                <td width="20%">
                    <h3>VS.</h3>
                </td>
                <td width="40%">
                    &nbsp;
                </td>
            </tr>

            <tr>
                <td width="40%" valign="top">
                    <label for="username2"> <strong>Player 2: </strong><br/>
                    {{ form.username2 }}</label>
                    
                    {% if form.err2 != '' %}
			        <table width="72%">
			        	<tr>
			        		<td align="center" bgcolor="#FF3333">
			        			<span style="color:white; font-size:12px; font-weight:bold;">{{ form.err2 }}</span>
			        		</td>
			        	</tr>
			        </table>
			        {% endif %}
                    
                    <input id="register2" name="chkRegister2" onclick="toggle_more2();" type="checkbox"></input>
                    Register to play
                    <div id="moreinfo2" style="display: none;">
                   		{{ form.email2 }}
                   		<br>
                    </div>
                </td>
                <td width="10%">
                    &nbsp;
                </td>
                <td width="40%"  valign="top">
                    <label for="username4"> <strong>Player 4: </strong><br/>
                    {{ form.username4 }}</label>
                    
                    {% if form.err4 != '' %}
			        <table width="72%">
			        	<tr>
			        		<td align="center" bgcolor="#FF3333">
			        			<span style="color:white; font-size:12px; font-weight:bold;">{{ form.err4 }}</span>
			        		</td>
			        	</tr>
			        </table>
			        {% endif %}
                    
                    <input id="register4" name="chkRegister4" onclick="toggle_more4();" type="checkbox"></input>
                    Register to play
                    <div id="moreinfo4" style="display: none;">
                    	{{ form.email4 }}
                    	<br>
                    </div>
                </td>
            </tr>
            
        </table>
        
        <br/>
        <br/>
        <div align="left">
	        <button name="createGame" class="btn" type="submit">
	            Create Game
	        </button>
        </div>
    </form>
</div>

{% endblock %}
