{% extends "base.html" %} 
{% load staticfiles %} 
{% block pagetitle %} |Game{% endblock %} 
{% block head %}
<link href="{% static 'css/profile-styles.css' %}" rel='stylesheet'
	type='text/css'>
{% endblock %}

Welcome, <span id="player-name">{{ request.session.username }} </span><span id="logout"><a href="/index/logout">Log Out</a></span>
                
<!------ CONTENT --------->
{% block pagecontent %}
<div id="page-content">
	<table id="profile">
		<tr id="statistics">
			<td align="center">
				<div id="picture"></div> <br />
						<span id="player-name"> <h4>{{ users.0.getUsername }}</h4> </span>
					</td>
					<td align="center"> 
						<div id="picture"></div>
						<br/>
						<span id="player-name"> <h4>{{ users.1.getUsername }}</h4> </span>
					</td>
					<td>
						&nbsp;
					</td>
					<td align="center">
						<div id="picture"></div>
						<br/>
						<span id="player-name"> <h4>{{ users.2.getUsername }}</h4> </span>
					</td>
					<td align="center">
						<div id="picture"></div>
						<br/>
						<span id="player-name"> <h4>{{ users.3.getUsername }}</h4> </span>
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
				<tr>
                     <td colspan="3" align="center" id="cups-sunk-stats">
                     	<h4 align="center">Team 1</h4>
                        <div id="cups">
                            <span class="cup" id="cup1"></span>
                            <br/>
                            <span class="cup" id="cup2"></span>
                            <span class="cup" id="cup3"></span>
                            <br/>
                            <span class="cup" id="cup4"></span>
                            <span class="cup" id="cup5"></span>
                            <span class="cup" id="cup6"></span>
                        </div></td>
					 <td colspan="2" align="center" id="cups-sunk-stats">
					 	<h4 align="center">Team 2</h4>
                        <div id="cups">
                            <span class="cup" id="cup1"></span>
                            <br/>
                            <span class="cup" id="cup2"></span>
                            <span class="cup" id="cup3"></span>
                            <br/>
                            <span class="cup" id="cup4"></span>
                            <span class="cup" id="cup5"></span>
                            <span class="cup" id="cup6"></span>
                        </div></td>
                </tr>
            </table>
			<br/>
			<br/>
			<br/>
			<table style="padding-top:10px; width:100%">
				<tr>
					<td width="33%" align="center">
						<button name="undo" class="btn" type="submit">
							Undo
						</button>
					</td>
					<td width="33%" align="center">
					<button name="abort" class="btn" type="submit">
						Abort
					</button>
					</td>
					<td width="33%" align="center">
					<button name="over" class="btn" type="submit">
						Game Over
					</button>
					</td>
				</tr>
			</table>
        </div>
    </div>
{% endblock %}
