#page-content, #page-content h3 {
	margin-top: 0px;
	padding-top: 0px;
}

#page-content table {
	width: 100%;
	height: 100%;
}
#page-content td {		/* <td> elements in the #page-content id get these attributes */ 
	vertical-align: top;
	padding: 10px;
}
#page-content td > div#limited-leaderboard {
	width: 200px;
}
#page-content td > div#register-form { /* this is referring to the last td element: the register form */
	width: 300px;
}

#limited-leaderboard {
	text-align: center;
	font-size: 12px;
	padding: 0 10px 10px 10px;
}
#limited-leaderboard thead {
	border-bottom: 1px solid black;
}
#limited-leaderboard tbody > tr {
	line-height: 2px;
}

#register-form { /* the elements with id #login-form and #register-form get these */
	border-left: 2px solid #9400D3;
	padding-left: 20px;
	height: 100%;
}

#register-form * { /* ALL child elements of id #login-form and #register-form */
	margin-top: 0px;
}

#register-form input { /* child <input> elements of login/register form */
	width: 85%;
}