{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %} | Rules{% endblock %} 

{% block head %}
<link href="{% static 'css/popup.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/home-styles.css' %}" rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
<script language="VBScript">
Function alert(msg,title)
MsgBox msg, ,title
End Function
</script>

{% endblock %}

{% block pagecontent %}
<div class="contents">
    <h2>Table of Contents</h2>
    <a href="#app-rules">Pong Tracker Rules</a>
    <br>
    <a
    href="#beerpong-rules">Gameplay Rules</a>
    <br>
    <a
    href="#endgame-rules">Ending a Game Rules</a>
    <br>
    <a
    href="#Terms and Condition">Terms and Conditions</a>
    <br>
</div>
<!------ CONTENT --------->
<div id="page-content">
    <table>
        <tr>
            <td>
                <section id="app-rules">
                    <b>Pong Tracker Rules</b>
                    
                    <b> Any non-compliance of the Pong Tracker Rules can result in
                    a user ban. </b>
                    <div class="indent10">
                        <ol>
                            <li>No fictitious accounts. A fictitious account does not
                                represent a human being.</li>
                            <li>No joint accounts. A joint account attempts to represent
                                more than one human being.</li>
                            <li>No recording more than thirty games in a twenty four
                                hour period.</li>
                            <li>No malicious activity.</li>
                        </ol>
                    </div>
                </section>
                <p>
                    Listed are the rules for a game of Beer Pong, as assumed by
                    Pong Tracker. Rules may be modified by the teams playing.
                </p>
                <section id="beerpong-rules">
                    <div class="subsection3">
                        <b>Gameplay Rules</b>

                        <div class="indent10">
                            <ol>
                                <li>To determine the first team to shoot, players
                                    participate in <a ="" title="A means of deciding the first team to shoot. Consists of a member of each team simultaneously shooting while making full contact with the other party. Should a cup be scored, the offending party is awarded the first shot."> eye to eye</a>
                                 Eye-to-eye consists of a member from each team shooting
                                    simultaneously at the opposing team's cups while making full
                                    eye contact with the opposing shooter.
                                    <ol>
                                        <li>One person from each team begins. After each failed
                                            attempt, the two team members swap places.</li>
                                        <li>When a ball is successfully sunk, the scoring team is
                                            awarded the first shot. The cup that is sunk is not counted
                                            during eye-to-eye.</li>
                                        <li>If both teams hit their eye-to-eye in a given turn,
                                            eye-to-eye resumes until only one team scores.</li>
                                    </ol></li>

                                <li>Teams take turns attempting to throw the ping pong ball
                                    into the cups of the opposing team. The team who is currently
                                    shooting is called the <a ="" title="The team who is currently in possession of the ping pong balls."> shooting team</a>. The team who is being shot at is called the defending
                                    team. 
                                </li>
                                <li>When a ball has been sunk in a cup, that cup is removed
                                    from the table by the defending team. The defending team must
                                    drink the contents of that cup in a timely fashion (see <a
                                    href="#endgame-rules">Ending a Game</a>). </li>
                                <li>If both members of the shooting team sink any two of
                                    the defending team's cups in one turn, they shoot again.</li>
                                <li>After a shot, the ball spins in the rim of the
                                    defending team's cup, the defending team can attempt to blow
                                    the ball out of the cup. If the ball is ejected and remains
                                    dry, no cup is removed.</li>
                                <li>An <a ="" title="A shot that misses the table altogether."> air ball</a> is a shot that does not hit the table, nor any cup on the
                                    table.
                                    <ol>
                                        <li>If the first shooter air balls, then the second
                                            shooter must forfeit their shot.</li>
                                        <li>If the second shooter air balls, then play resumes as
                                            though the turn ended normally.</li>
                                    </ol></li>
                                <li>If the ball rolls or bounces back to the shooting team
                                    on the table (never once touching the ground), a member of the
                                    shooting team can attempt a <a ="" title="Any shot containing either multi-directional trajectory or non-standard origination."> trick shot</a>
                                 	. </li>
                                <ol>
                                    <li>A trick shot is any shot containing either
                                        multi-directional trajectory or non-standard origination.
                                        <ol>
                                            <li>Bouncing the ball off an adjacent wall.</li>
                                            <li>Throwing the ball facing the opposite direction of
                                                the table.</li>
                                        </ol></li>
                                    <li>A trick shot does not follow the standard rules for
                                        shooting, such as air ball.</li>
                                    <li>A trick shot can not be disrupted by the defending
                                        team.</li>
                                </ol>
                                <li>Each team is entitled to one 
                                <a ="" title="A request to shuffle the orientation of the remaining cups on the opposing side."> re-rack</a>
                               at any point during the game. A re-rack is a request to shuffle
                                    the orientation of the remaining cups of the opposing team. </li>
                                <li>A <a ="" title="A shot that hits the table before entering a cup."> bounce</a>
                                 counts as two cups sunk. A bounce shot hits the table
                                    before entering a cup. The sunk cup and another chosen by the
                                    scoring team are removed.
                                    <ol>
                                        <li>The defending team can attempt to disrupt the ball
                                            after it has made contact with the table.</li>
                                    </ol></li>
                                <li>If two non-bounce shots hit the same cup, then the sunk
                                    cup, and another selected by the scoring team are removed.</li>
                                <li>
                                If a team sinks a cup, but the other team does not remove the cup from the table, the team who sunk the cup has the 
                                chance to sink the same cup on their <b>next</b> turn. If this occurs, it counts as 3 cups sunk. The player who 
                                scored the original cup is awarded the original cup, and the second player is awarded the additional two cups that 
                                are removed.
                                </li>
                                <li>A <a ="" title="An infringement on the rules of the game, or knocking over a cup, spilling its contents."> party foul</a>
                        			is any infringement on the rules of the game. In particular: 
                                </li>
                                <ol>
                                    <li>Any knocking over of a cup is considered a party foul.
                                        All disrupted cups are to be removed and are considered scored
                                        on by the opposing team.
                                    </li>
                                    <li>If the ball is disrupted in any way (that is not
                                        otherwise stated in the above rules) by the defending team, a
                                        cup is removed from the defending team and is considered
                                        scored on by the shooting team.
                                    </li>
                                </ol>
                            </ol>
                        </div>
                    </div>
                </section>
                <section id="endgame-rules">
                    <b>Ending a Game Rules</b>
                    <div class="indent10">
                        <ol>
                            <li>A game is over when a team's cups are all removed from
                                the table.</li>
                            <li>Before the game is complete, the team with no remaining
                                cups is eligible for<a ="" title="A chance for the losing team to come back."> redemption</a>
                                <ol>
                                    <li>If a team is successful, then the game resumes, with
                                        each team having three cups.</li>
                                    <li>The objective of redemption is to sink the opposing
                                        team's remaining cups.</li>
                                    <li>Both players on the redeeming team keep shooting until
                                        they miss.</li>
                                    <li>If one player misses, the other continues to shoot.</li>
                                    <li>A team is not eligible for redemption if:</li>
                                    <ol>
                                        <ol>
                                            <li>Both players on the shooting team sink the defending
                                                team's remaining cup.</li>
                                            <li>The remaining cup is sunk via a bounce shot.</li>
                                            <li>A cup in the hand of a player is sunk (for example,
                                                before the player drinks).</li>
                                            <ol>
                                                <li>There is beverage remaining in the cup.</li>
                                                <li>The scoring team is automatically victorious.</li>
                                            </ol>
                                        </ol>
                                    </ol>
                                </ol></li>
                        </ol>
                    </div>
                </section>
                <section id ="Terms and Conditions">
                
                </section>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
