{% extends "base.html" %} 
{% load staticfiles %}

{% block pagetitle %} | Leaderboard{% endblock %} 
 
{% block head %}
	<link href="{% static 'css/login-styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<script>

function select() {
	
	var choice = document.getElementByID("filterSelect");
	window.location = "leaderboard.html?inst=choice"
	
}

</script>

{% block pagecontent %}

<div id="page-content">

	<form method='post' action='/leaderboard/'>
	
		{% csrf_token %}
	
		<table>
			<tr>
				<td width="80%">
					<h3>Leaderboard</h3>
				</td>
				
				<td width="15%" align="left" valign="middle">
					<select id="filterSelect"  name="filterSelect">
					  {% for choice in form.choices %}
					  
					  	<option value="{{ choice }}">{{ choice }}</option>
					  
					  {% endfor %}
					</select>
				</td>
				
				<td width="5%" align="center" valign="middle">
					<button name="filter" class="btn" type="submit">
		                Filter
		            </button>
				</td>
				
			</tr>
		</table>
		
		<table align="center">
			<tr style="border-bottom: 1px solid black">
				<th width="8%">Rank</th>
				<th width="22%">Name</th>
				<th width="25%">Institution</th>
				<th width="15%">Games Won</th>
				<th width="15%">Games Lost</th>
				<th width="15%">Cups sunk</th>
			</tr>

			{% for row in form.leaders %}
			
			<tr>
				<td align="center">
					<strong>{{ row.0 }}</strong>
				</td>				

				<td align="center">
					{{ row.1 }}
				</td>				

				<td align="center">
					{{ row.2 }}
				</td>				

				<td align="center">
					{{ row.3 }}
				</td>				

				<td align="center">
					{{ row.4 }}
				</td>
				
				<td align="center">
					{{ row.5 }}
				</td>				
			</tr>
			
			{% endfor %}

		</table>
		
	</form>
	
</div>

{% endblock %}