body {
	padding: 0px;
}

#content {
	margin: 0px auto;
	padding: 20px;
	max-width: 800px;
	min-width: 300px;
}

.title {
	padding: 30px 0px;
	font-size: 44px;
}

ul#authors {
	list-style: none;
	margin: 0 0 0 0 !important;
}

#authors li {
	display: inline-block;
	width: 120px;
}

#content p {
	margin-bottom: 15px;
}

#content > section {
	margin-left: -0.7in;
}

section {
	padding-left: 0.7in;
}

#table-of-contents {
	margin-top: 50px;
	padding: 20px;
	background-color: #F5F5F5;
	width: 300px;
}

.number {
	display: inline-block;
	width: 0.7in;
}

.code {
	font-family: monospace;
}

table.term-def td {
	padding-right: 30px;
}

table.term-def td:first-child {
	font-weight: bold;
}

#architecture embed {
	padding: 10px;
	border: 2px solid #ddd;
}
#architecture .caption {
	margin-bottom: 50px;
}
