.nav-sidebar {
	top: 40px;
}

.section-heading {
	font-size: 33px;
	display: inline-block;
}

.subheading {
	font-size: 20px;
	line-height: 21px;
	display: inline-block;
}

OL { counter-reset: item }
LI { display: block; }
LI:before { content: counters(item, ".") " "; counter-increment: item; }