.document {
	font-size: 15px;
	font-family: Sans-serif;
	margin-left: 10%;
	margin-right: 10%;
}

.doctitle {
	font-size: 42px
}

.section {
	font-size: 31px;
}

.subsection {
	font-size: 22px;
}

.subsection2 {
	font-size: 18px;
}