#login-form {
	margin-left: 0 auto;
	width: 250px;	
	
	
}
#login-form * {
	margin-top: 0px;
}
#login-form input {
	width: 85%;
}
#register-form {
	margin-left: 0 auto;
	width: 250px;
	
}
#register-form * {
	margin-top: 5px;
}
#register-form input {
	width: 85%;
}
