#login-form {
	margin-left: 0 auto;
	width: 250px;
	border-style:solid;
	border-width:2px;
	border-color:#888;
}
#login-form * {
	margin-top: 0px;
}
#login-form input {
	width: 85%;
}
#register-form {
	margin-left: 0 auto;
	width: 250px;
	border-style:solid;
	border-width:2px;
	border-color:#888;
}
#register-form * {
	margin-top: 5px;
}
#register-form input {
	width: 85%;
}
