{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %} | Rules{% endblock %} 

{% block head %}
<link href="{% static 'css/popup.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/home-styles.css' %}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block pagecontent %}

<!------ CONTENT --------->
<div id="page-content">
   <p>
   Sorry the page you are looking for does not exist!
   </p>
   <p>
   Please try again!
   </p>
</div>
{% endblock %}
