<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Pong Tracker{% block pagetitle %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='{% static "css/bootstrap.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "css/global-styles.css" %}' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="container">
        <!------ LOGIN HEADER --------->
        <div id="login-header">
            {% if 'username' in request.session %}
            <form name="logout" action='{{ SITE_URL }}logout' class="form-inline" method="post">
                {% csrf_token %}
                <label>Welcome, <span id="player-name">{{ request.session.username }}</span></label>
                <button name="logout" class="btn" type="submit">
                    Log Out
                </button>
            </form>
            {% else %}
            <form name="login" action='{{ SITE_URL }}login' class="form-inline" method="post">
                {% csrf_token %}
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <a href='{{ SITE_URL }}forgotpassword'>Forgot Password?</a>
                
                <input name="username" type="text" placeholder="username" value="" />
                <input name="password" type="password" placeholder="password" value="" />
                <button name="login" class="btn" type="submit">
                    Log In
                </button>
            </form>
            {% endif %}
        </div>

        {% if messages %}
        <div class="alert">
            {% autoescape off %}
            {% for message in messages %}
            {{ message }}
            <br>
            {% endfor %}
            {%endautoescape %}
        </div>
        {% endif %}

        <!------ HEADER --------->
        <div id="header">

            <table>
                <tr>
                    <td id="logo">
                        {% if 'username' in request.session %}
                        <a href='{{ SITE_URL }}profile'><div id="logoimg" ></div></a>
                        {% else %}
                        <a href='{{ SITE_URL }}index'><div id="logoimg" ></div></a>
                        {% endif %}
                        Pong Tracker
                    </td>
                    <td id="nav">
                        <ul>
                            {% block navigation %}
                            {% if 'username' in request.session %}
                            <li><a href='{{ SITE_URL }}profile'>Profile</a></li>
                            <li><a href='{{ SITE_URL }}leaderboard/'>Leaderboard</a></li>
                            <li><a href='{{ SITE_URL }}game/create/'>Create a Game</a></li>
                            <li><a href='{{ SITE_URL }}game/verify'>Verify Games</a></li>
                            {% endif %}
                            <li><a href='{{ SITE_URL }}rules'>Rules</a></li>
                            {% endblock %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <!------ CONTENT --------->
        {% block pagecontent %}
        {% endblock %}
        <!------- FOOTER --------->
        <div id="footer">
            <table>
                <tr>
                    <td class="center">
                        CP317 Software Engineering
                    </td>
                    <td class="center">
                    	<a href='{{ SITE_URL }}terms_and_conditions'>Terms and Conditions</a>
                    </td>
                    <td class="center">
                    	<a href ='mailto:pongtracker@gmail.com'> Contact Us</a>
                    </td>
                    <td class="center">
                        Wilfrid Laurier University, 2013
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

