<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
    <title>Pong Tracker | Confirm Games</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../assets/bootstrap-css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='../../../assets/css/global-styles.css' rel='stylesheet' type='text/css'>
    <link href='../../../assets/css/home-styles.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container">
			<!------ LOGIN HEADER --------->
			<div id="login-header">
				<p>
					Welcome, <span id="player-name">{{username}}</span><span id="logout"><a href="login.html">Log Out</a></span>
				</p>
			</div>
        <!------ HEADER --------->
			<div id="header">
				<table>
					<tr>
						<td id="logo">
                        Pong Tracker
						</td>
						<td id="nav">
							<ul>
								<li><a href="#">Rules</a></li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<!------ CONTENT --------->
			<div id="page-content">
			<table>
				<tr>
					<th width="1%"> Game ID </th>
					<th width="2%"> Date </th>
					<th width="6%"> Player usernames </th>
					<th width="1%"> Outcome </th>
					<th width="1%"> Confirmation </th>
				</tr>
				<tr>
					<td>GAME-124</td>
					<td> July 14, 2013 </td>
					<td>{{username1}}, {{username2}}, {{username3}}, {{username4}}</td>
					<td>Win</td>
					<td>
						<form action="">
						<input type="radio" name="confirm_btn" value="Confim"> Confirm<br>
						<input type="radio" name="confirm_btn" value="Deny"> Deny
						</form>
					</td>
				</tr>
				<tr>
					<td>GAME-156</td>
					<td> July 14, 2013 </td>
					<td>{{username1}}, {{username2}}, {{username3}}, {{username4}}</td>
					<td>Loss</td>
					<td>
						<form action="">
						<input type="radio" name="confirm_btn" value="Confim"> Confirm<br>
						<input type="radio" name="confirm_btn" value="Deny"> Deny
						</form>
					</td>
				</tr>
				<tr>
					<td>GAME-192</td>
					<td> July 14, 2013 </td>
					<td>{{username1}}, {{username2}}, {{username3}}, {{username4}}</td>
					<td>Loss</td>
					<td>
						<form action="">
						<input type="radio" name="confirm_btn" value="Confim"> Confirm<br>
						<input type="radio" name="confirm_btn" value="Deny"> Deny
						</form>
					</td>
				</tr>
				<tr>
					<td>GAME-256</td>
					<td> July 14, 2013 </td>
					<td>{{username1}}, {{username2}}, {{username3}}, {{username4}}</td>
					<td>Loss</td>
					<td>
						<form action="">
						<input type="radio" name="confirm_btn" value="Confim"> Confirm<br>
						<input type="radio" name="confirm_btn" value="Deny"> Deny
						</form>
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			<button name="verify" class="btn" type="submit">
				Verify Games
			</button>
			</div>
			<!------- FOOTER --------->
			<div id="footer">
				<table>
					<tr>
						<td class="left">
							CP317 Software Engineering
						</td>
						<td class="right">
							Wilfrid Laurier University, 2013
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>